* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pic {
    
   
    height: 700px;
    width: 700px;
}


.player {
    display: flex;
}
.wrapper{
    border: 1px solid rgba(255, 255, 255, 0.365);
    
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.details{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 1.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}
.slider_container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slider_container2 {
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}
.current-time,
.total-duration{
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 2px;
    font-size: 30px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;

}
.randomActive{
    color: black;
}

.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1114px) {
 
    body {
        padding: 0;
        margin: 0;
        width: auto;
        height: 100%;
        justify-content: space-between;
        display: grid;
        
        grid-template-columns: repeat(1, minmax(1px, 1fr));
       
    }
    .pic {
        margin: 0;
        height: 100%;
        width: 100vw;
        background-size: 100%;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: repeat(2, minmax(1px, 1fr));

    }

    .shield {
        background-size: cover;
        background-image: url("./img/inicio.jpg");
        height: 50vw;
        width: 100%;
    
    }

    .track-art{
        background-size: cover;
        height: 50vw;
        width: 100%;
        
       /* background-size: cover;
        background-position: center;
    */
             
    }

    .track-name{
        font-size: 1rem;
    }
    .track-artist{
        margin-top: 3px;
        font-size: 1rem;
    }

    .slider_container{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .slider_container2 {
        height: 83px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .player {
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .wrapper {
        margin: 0px;
        width: 95%;
        border: 1px solid rgba(255, 255, 255, 0.365);
        border-radius: 20px;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 0px, rgb(0 0 0 / 22%) 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .volume_slider {
        background: #fe0000;
        height: 30px;
        width: 60%;
    }

    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 50px;
        height: 50px;
        background: rgb(0, 0, 0);
        border: 3px solid #3774ff;
        cursor: pointer;
        /* border-radius: 100%; */
}

    

    

    .buttons {
        margin-bottom: 0;   
    }
}